@import 'https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700, 700i';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i';

* {
  box-sizing: border-box;
}

body {
  font-family: "Space Mono";
  background-image: url(../images/congruent_outline.png);
  background-attachment: fixed;
  color: #efefef;
}

.photo {
  width: 100%;
  text-align: center;
  img{
    width: 150px;
    margin: auto;
    border-radius: 50%;
  }
}

.center {
  text-align: center;
  margin-bottom: 20px;
}
header {
  text-align: center;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      display: inline-block;
      font-size: 24px;
    }
  }
}

.main-container {
  max-width: 800px;
  padding: 50px;
  background: rgba(1, 1, 1, .5);
  margin: 40px auto;
  -webkit-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.71);
  -moz-box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.71);
  box-shadow: 0px 0px 61px 0px rgba(0,0,0,0.71);
}

.latest-projects {
  margin-top: 25px;
}
.home-photo {
  margin-top: 25px;
  img {
    width: 250px;
  }
}
h1,h2,h3,h4 {
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 60px;
}

a {
  color: #DA3C3C;
  text-decoration: none;
  font-style: italic;
  font-weight: 700;
  transition: color .5s;
}

a:hover{
  color: white;
}

.bio {
  font-family: "Open Sans";
  line-height: 1.5;
}

.projects {
  .projects-header{
    margin-top: -20px;
    border-bottom: 3px solid #aaaaaa;
  }
  .tabs{
    height: 360px;
    position: relative;
    margin-top: 60px;
    #tablabels{
      height: 250px;
      display: inline-block;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 20%;
      .selectedtab {
        color:white;
      }
      li {
        color: #DA3C3C;
        text-decoration: none;
        font-style: italic;
        font-weight: 700;
        transition: color .5s;
        margin-bottom: 28px;
        line-height: 1;
        &:hover {
          color:white;
        }
      }
    }
    #tabcontents{
      position: absolute;
      display: inline-block;
      top:0;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 80%;
      text-align: center;
      .text {
        font-family: "Open Sans";
        font-size: 18px;
        a {
          font-size: 18px;
          font-weight: 400;
        }
      }
      a{
        font-size: 20px;
      }
      .hidden{
        display: none;
      }
    }
  }
}

//media queries....
@media (max-width: 750px) {
  .main-container {
    margin: -5px;  
    padding: 5px;  
  }
  header {
    margin:0;
    h1{
      font-size:40px;
    }
    h2{
      display: none;
    }
    ul{
      li{
        font-size: 20px;
      }
    }
  }
}
