html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #FDFDFF;
  font-family: Arial, Helvetica, sans-serif; }

p {
  margin-bottom: 8px;
  line-height: 1.3em; }

em {
  font-style: italic; }

strong {
  font-family: Oswald, Arial, Helvetica, sans-serif; }

h1 {
  font-size: 2em;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  margin-top: 5px;
  margin-bottom: 20px;
  color: #363232; }

h3 {
  font-size: 1.3em;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  margin-top: 48px;
  margin-bottom: 16px; }

.header {
  position: relative;
  width: 100%;
  height: 250px;
  display: flex;
  align-content: center;
  justify-content: center; }

.logo {
  max-width: 500px; }

.nav {
  z-index: 3;
  width: 100%;
  background: #363232;
  height: 80px;
  display: flex;
  margin-bottom: 50px;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  -webkit-box-shadow: inset 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 4px 20px 0px rgba(0, 0, 0, 0.5); }
  .nav a {
    color: #FDFDFF;
    flex: 1;
    text-decoration: none;
    font-size: 2em;
    text-align: center;
    padding: .75em;
    transition: color .2s; }
    .nav a:hover {
      color: #36a5ff; }
  .nav .nav-logo {
    max-width: 0;
    overflow: hidden;
    transition: all .5s; }
    .nav .nav-logo img {
      height: 70px;
      padding-top: 5px;
      padding-bottom: 5px; }

.fixed-nav {
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.5); }
  .fixed-nav .nav-logo {
    max-width: 900px;
    flex: 6; }
  .fixed-nav a {
    flex: 1; }

.divider {
  text-align: center;
  margin: 50px;
  transition: all 2s; }
  .divider img {
    width: 80px; }

.about a {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  color: #36a5ff;
  text-decoration: none; }

.container {
  max-width: 800px;
  font-size: 1.4em;
  line-height: 1.2em;
  margin: 0 auto;
  margin-bottom: 50px; }

.projects {
  padding-top: 50px;
  padding-bottom: 20px;
  max-width: 100%;
  background: #363232;
  -webkit-box-shadow: inset 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
  color: #FDFDFF; }
  .projects h1 {
    color: #FDFDFF; }

.heading-container {
  max-width: 800px;
  margin: 0 auto; }

.blue {
  color: #36a5ff; }

.project-flex-container {
  display: flex;
  height: 500px;
  max-width: 800px;
  margin: 0 auto; }

.project-list {
  flex: 1;
  display: flex;
  flex-direction: column; }
  .project-list a {
    font-family: Oswald, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #36a5ff;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2; }

.project-slider {
  display: none;
  width: 300px;
  position: absolute;
  transition: all .2s;
  z-index: 1;
  background: #FDFDFF;
  transform: translate(5px, 5px); }

.project-description {
  z-index: 2;
  flex: 3;
  background: #FDFDFF;
  color: #363232;
  padding: 20px; }
  .project-description h1 {
    color: #363232; }
  .project-description a {
    font-family: Oswald, Arial, Helvetica, sans-serif;
    color: #36a5ff;
    text-decoration: none; }

.ghblurb {
  text-align: center;
  margin-top: 24px; }
  .ghblurb a {
    font-family: Oswald, Arial, Helvetica, sans-serif;
    color: #36a5ff;
    text-decoration: none; }

.mobile-projects {
  display: none; }

.contact a {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  color: #36a5ff;
  text-decoration: none; }
.contact form {
  margin: 0 auto;
  text-align: center; }
.contact input {
  padding: 8px;
  font-size: .8em;
  font-family: Arial, Helvetica, sans-serif;
  width: 235px; }
.contact textarea {
  padding: 8px;
  font-size: .8em;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 500px; }
.contact input[type="submit"] {
  padding: 10px 20px 10px 20px;
  font-size: 1em;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 4px;
  background: #36a5ff;
  transition: all .2s;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.33); }
  .contact input[type="submit"]:hover {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.33);
    transform: translate(-2px, -5px); }

footer {
  padding-top: 16px;
  background: #363232;
  height: 240px; }

@media (max-width: 800px) {
  h1 {
    text-align: center; }

  body {
    padding: 0 8px 0 8px;
    font-size: .8em; }

  .contact textarea {
    width: 95%; }

  .header {
    height: 160px; }
    .header .logo {
      width: 95%; }

  .nav {
    display: none; }

  .projects {
    display: none; }

  .mobile-projects {
    text-align: center;
    display: block; }
    .mobile-projects a {
      font-family: Oswald, Arial, Helvetica, sans-serif;
      color: #36a5ff;
      text-decoration: none; }

  .about h1 {
    display: none; } }

/*# sourceMappingURL=style.css.map */
