//css reset:
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


//MY CSS:

$theme-blue: #36a5ff;
$darker-blue: #0568B8;
$lighter-blue: #75DFFF;
$black: #363232;
$white: #FDFDFF;
$header-font:  Oswald, Arial, Helvetica, sans-serif;

body {
  background: $white;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin-bottom: .5em;
  line-height: 1.5em;
}

em {
  font-style: italic;
}

strong {
  font-family: $header-font;
}

h1 {
  font-size: 2em;
  font-family: $header-font;
  margin-top: 5px;
  margin-bottom: 20px;
  color: $black;
}
h3 {
  font-size: 1.3em;
  font-family: $header-font;
  margin-top: 48px;
  margin-bottom: 16px;
}

.header {
  position: relative;
  width: 100%;
  height: 250px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.logo {
  max-width: 500px;
}

.nav {
  z-index: 3;
  width: 100%;
  background: $black;
  height: 80px;
  display: flex;
  margin-bottom: 50px;
  font-family: $header-font;
  -webkit-box-shadow: inset 0px 4px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 4px 20px 0px rgba(0,0,0,0.5);
  box-shadow: inset 0px 4px 20px 0px rgba(0,0,0,0.5);
  a {
    color: $white;
    flex: 1;
    text-decoration: none;
    font-size: 2em;
    text-align: center;
    padding: .75em;
    transition: color .2s;
    &:hover {
      color: $theme-blue;
    }
  }
  .nav-logo{
  max-width:0;
  overflow: hidden;
  transition: all .5s;
  img {
    height: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  }
}

.fixed-nav {
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.5);
  .nav-logo{
    max-width: 900px;
    flex:6;
  }
  a {
    flex: 1;
  }
}

.divider {
  text-align: center;
  margin: 50px;
  transition: all 2s;
  img {
    width: 80px;
  }
}

.about {
    a{
    font-family: $header-font;
    color: $theme-blue;
    text-decoration: none;
  }
}

.container {
  max-width: 800px;
  font-size: 1.4em;
  line-height: 1.2em;
  margin: 0 auto;
  margin-bottom: 50px;
}

.projects {
  padding-top: 50px;
  padding-bottom: 20px;
  max-width: 100%;
  background: $black;
  -webkit-box-shadow: inset 0px 4px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 4px 20px 0px rgba(0,0,0,0.5);
  box-shadow: inset 0px 4px 20px 0px rgba(0,0,0,0.5);
  color: $white;
  h1 {
    color: $white;
  }
}
.heading-container {
  max-width: 800px;
  margin: 0 auto;
}

.blue {
  color: $theme-blue;
}

.project-flex-container{
  display: flex;
  height: 500px;
  max-width: 800px;
  margin: 0 auto;
}

.project-list {
  flex: 1;
  // background: purple;
  display: flex;
  flex-direction: column;
  a {
    // border: 1px solid black;
    font-family: $header-font;
    text-decoration: none;
    color: $theme-blue;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
}

.project-slider {
  display: none;
  width: 300px;
  // border: 1px solid black;
  position: absolute;
  transition: all .2s;
  z-index: 1;
  background: $white;
  transform: translate(5px,5px)
}

.project-description {
  z-index: 2;
  flex: 3;
  // border: 1px solid $black;
  background: $white;
  color: $black;
  padding: 20px;
  h1{
    color: $black;
  }
  a {
    font-family: $header-font;
    color: $theme-blue;
    text-decoration: none;
  }
}

.description-text {
  display: none;
}

.ghblurb {
  text-align: center;
  margin-top: 24px;
  a {
    font-family: $header-font;
    color: $theme-blue;
    text-decoration: none;
  }
}

.mobile-projects {
    display: none;
  }

.contact {
  a{
    font-family: $header-font;
    color: $theme-blue;
    text-decoration: none;
  }
  form {
    margin: 0 auto;
    text-align: center;
  }
  input {
    padding: 8px;
    font-size: .8em;
    font-family: Arial, Helvetica, sans-serif;
    width: 235px;
  }
  textarea {
    padding: 8px;
    font-size: .8em;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
  }
  input[type="submit"] {
    padding: 10px 20px 10px 20px;
    font-size: 1em;
    font-family: $header-font;
    border: none;
    border-radius: 4px;
    background: $theme-blue;
    transition: all .2s;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.33);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.33);
    &:hover {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.33);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.33);
    transform: translate(-2px,-5px)  
    }
  }
}

footer {
  padding-top: 16px;
  background: $black;
  height: 240px;
}
// replace name logo with CL logo when it won't show up all the way in the nav:



// things get a little sketchy under 800px
@media (max-width: 800px) {
  // reorder nav.. logo on bottom with links stacked above it
  // logo always sticky at top of screen, so no JS scroll magic
  // nav drops down on arrow click so that the links show above the

  h1 {
    text-align: center;
  }
  body {
   // margin-top: 90px;
   padding: 0 8px 0 8px;
   font-size: .8em;
  }

  .contact {
    textarea {
      width: 95%;
    }
  }
  
  .header {
    // display: none;
    height: 160px;
    .logo {
      width: 95%;
    }
  }

  .nav {
    display: none;
  }

  .projects {
    display: none;
  }
  .mobile-projects {
    text-align: center;
    display: block;
    a{
      font-family: $header-font;
      color: $theme-blue;
      text-decoration: none;
    }
  }

  .about {
    h1 {
      display: none;
    }
  }
  //add a bit of margin around the text.

  //do something with the projects.. maybe just stack them with links at the top?

  //clean up contact form
}
